/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* calculator-layout */
.calculator-container {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 60px;
  border: 4px solid #2d2f36;
}

/* calculator-inner */
.display {
  height: 120px;
  text-align: right;
  border: 4px solid #9000ff;
}

.buttons {
  flex: 1;
  border: 4px solid #0085f9;
}

/* utils */
.p-40 {
  padding: 40px;
}
