/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* color variables */
:root {
  --white: #ffffff;
  --black: #212121;
  --red: #ff5f57;
  --yellow: #ffbd2e;
  --green: #28c840;
}

/* calculator-layout */
.calculator {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 4px solid #2d2f36;
}

/* calculator-inner */
.calc__window-btns {
  display: flex;
  gap: 8px;
}

.calc__window-btn--close {
  background-color: var(--red);
}
.calc__window-btn--min {
  background-color: var(--yellow);
}
.calc__window-btn--max {
  background-color: var(--green);
}

.calc__display {
  height: 120px;
  text-align: right;
  border: 4px solid #9000ff;
}

.calc__keypad {
  flex: 1;
  border: 4px solid #0085f9;
}

/* utils */
.a11y-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.btn-xs {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.p-40 {
  padding: 40px;
}
